.content {
  min-width: 250px;
}

md-radio-group {
  display: inline-flex;
  flex-direction: column;
  margin-left: 8px;
  padding-bottom: 10px;
}

md-radio-button {
  margin: 5px;
}

.sectionHeader {
  border-bottom: 1px solid black;
}

.languagePreferences {
  margin-bottom: 12px;
}

footer {
  display: flex;
  justify-content: flex-end;
}
