<div class="dashboard">
  <md-card class="moduleCards">
    <md-card-header>
      <md-card-title i18n="Hello World | Module Card Title" >Hello World</md-card-title>
      <md-card-subtitle i18n="Hello World Subtitle | Module Card Subtitle">The classic example</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <img md-card-md-image src="dist/assets/angular.svg" />
      <p i18n="Hello World Description|Module Card description for the Hello World Component">Hello World, the classic example on steroids.</p>
      <ul>
        <li><a md-button href="https://angular.io" target="_blank">Built on Angular</a></li>
        <li><a md-button href="https://angular.io/docs/ts/latest/cookbook/i18n.html" target="_blank">Internationalization i18n</a></li>
        <li><a md-button href="https://angular.io/docs/ts/latest/guide/router.html" target="_blank">Lazy-loaded modules</a></li>
        <li><a md-button href="https://angular.io/docs/ts/latest/cookbook/aot-compiler.html" target="_blank">Easy to debug JiT and blazing fast AoT builds</a></li>
        <li><a md-button href="https://material.angular.io/" target="_blank">Angular Material UI</a></li>
      </ul>
    </md-card-content>
    <md-card-actions>
      <a md-icon-button routerLink="/helloworld">
        <md-icon>launch</md-icon>
      </a>
    </md-card-actions>
  </md-card>
</div>
